<section class="book-container detail-view">
  <img src="<%= book.image_url %>" alt="image of book cover">
  <h3>
    <%= book.title %><% if (book.subtitle) { %>: <%= book.subittle %> <% } %>
  </h3>
  <span>
    <%= book.author %>
  </span>
  <p class="desc unlist">
    <%= book.description %>
  </p>
  <p class="isbn">
    <%= book.isbn %>
    <% if (book.bookshelf) { %>
      &mdash;
      Bookshelf;
      <%= book.bookshelf %>
    <% } %>
  </p>
  <button class="hide-me" id="update-button">Update Details</button>
  <form class="hide-me" action="/books/<%= book.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button id="delete-button">Delete Book</button>
  </form>
</section>