<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/icons.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules/error.css">
    <link rel="stylesheet" href="/styles/modules/partials/header.css">
    <link rel="stylesheet" href="/styles/modules/partials/footer.css">
    <link rel="icon" type="image/png" href="https://www.freeiconspng.com/uploads/book-icon--icon-search-engine-6.png">
    <link rel="stylesheet" href="/styles/modules/searches/show.css">
    <link rel="stylesheet" href="/styles/modules/books/show.css">
  </head>
  <body>
    <header>
      <div>
        <a href="/">
          <h1>Best Books!</h1>
        </a>
      </div>
      <nav>
        <div class="icon-menu"></div>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </header>
    <main>

      <!-- Credit for following layout and explaing the use of "result" below because it uses "result" form getOneBook to Trevor Thompson -->
      <!-- <h2 id="title">Detail View</h2>
  
      <ul id="result-container">
          <div class="books">
             <li id="image"><img src="<%= result.image_url %>"</li>
             <li id="book-title"><%= result.title %></li>
             <li id="author"><%= result.author %></li>
             <li id="description"><%= result.description %></li>
             <li><%= result.isbn %></li>
             <li><%= result.bookshelf %></li>
          </div>
        </ul>
        <div id="button-wrapper">
            <button class="detail-button"><a href="/">Home Page</a></button>
        </div> -->

        <h1>Test</h1>


    </main>
    <footer>
      <ul>
        <li><span class="icon-mail2"><a href=""></a></span></li>
        <li><span class="icon-twitter"><a href=""></a></span></li>
        <li><span class="icon-github"><a href=""></a></span></li>
        <li><span class="icon-linkedin2"><a href=""></a></span></li>
      </ul>
    </footer>
  </body>
</html>
