<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
  <link rel="stylesheet" href="../../public/styles/modules/books/show.css">
</head>
<body>
  <%- include('../layout/header') %>
  <main>
    <!-- <h2 id="title"><span id="count"><%= count %></span> Saved Books</h2>
    <ul class="search-results">
      <% result.forEach(book => { %>
      <li data-book-id="<%= book.isbn %>">
        <div class="book-container">
          <img src=<%= book.image_url %>>
          <section>
            <h3><%= book.title %></h3>
            <span><%= book.author %></span>
            <p class="desc"><%= book.description %></p>
            <p><%= book.isbn %></p>
          </section>
          </section>
      </li>
      <button class="detail-button"><a href="/books/<%= book.id %>">View Details</a></button>
      <% }) %>
    </ul> -->

    <h4>Saved Books</h4>
    <p><span id="count"><%= count %></span> saved books</p>
    <ul id="book-list">
      <% result.forEach(book => { %>
        <li class="book-items" data-book-id="<%= book.id %>">
          <%- include('books/detail', {book: book}) %>
          <p class="detail-button"><a href="/books/<%= book.id %>">View Details</a></p>
        </li>
      <% }) %>
    </ul>
  </main>
  <%- include('../layout/footer') %>
</body>
</html>